name: Deploy to Appwrite

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install

      - name: Install Appwrite CLI
        run: npm install -g appwrite-cli

      - name: Deploy to Appwrite
        env:
          APPWRITE_ENDPOINT: ${{ secrets.APPWRITE_ENDPOINT }}
          APPWRITE_PROJECT_ID: ${{ secrets.APPWRITE_PROJECT_ID }}
          APPWRITE_API_KEY: ${{ secrets.APPWRITE_API_KEY }}
        run: |
          appwrite login --endpoint "$APPWRITE_ENDPOINT" --project "$APPWRITE_PROJECT_ID" --key "$APPWRITE_API_KEY"
          appwrite deploy site --site-id 6941d9280032a28b0536 --force